@model VisioConference.Main.Data.SalonNewMessageMessagesViewModel

@{
	ViewData["Title"] = "Index";
}

<h1>Salon</h1>
<h2>@Html.DisplayFor(model => model.Salon.Id)</h2>

@using (Html.BeginForm("AjouterMessage", "Salon", FormMethod.Post)) {
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="form-group">
		<label class="control-label">Message</label>
		<input asp-action="@Model.NewMessage.Contenu" />
		<span asp-validation-for="@Model.NewMessage.Contenu"></span>
	</div>
	<div class="form-group">
		<input type="submit" value="Entrer" class="btn, btn-primary"/>
	</div>
}

<table>
	<tbody>
		@foreach(var message in Model.Messages) {
			<tr>
				<td>
					@Html.DisplayFor(modelItem => message.Contenu);
				</td>
			</tr>
		}
	</tbody>
</table>

<div>
	<a asp-action="Retour">Retour menu</a>
</div>
