################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Application/.vs/Application/FileContentIndex/f4ab2dc1-3386-4ff6-9548-a5efae3d8725.vsidx
/Application/.vs/Application/FileContentIndex/20480882-9f05-403f-9408-dcb4f8779198.vsidx
/Application/.vs/Application/FileContentIndex/362ee36d-a78d-47cb-86a6-a989c05c297d.vsidx
/Application/.vs/Application/FileContentIndex/9bf4abfe-8a0c-4a15-b2a9-81d01fe38b20.vsidx
/Application/.vs/Application/FileContentIndex/b73bf4e4-b3a4-44c7-a7b8-c6f565222623.vsidx
/Application/.vs/Application/FileContentIndex/9e70b258-67ae-4ee0-b100-c4ca26343437.vsidx
/Application/.vs/Application/FileContentIndex/aaecc462-7cc2-4ae6-895b-5eea5e544f7e.vsidx
/Application/.vs/Application/FileContentIndex/31744071-ec7e-40ac-941e-5f160809388a.vsidx
/Application/.vs/Application/FileContentIndex/8b0ea795-43f1-44f9-b80b-b8ed5a86eacb.vsidx
/Application/.vs/Application/FileContentIndex/01cd6e32-1518-4853-bb63-34cd1c8cbbde.vsidx
/Application/.vs/Application/FileContentIndex/f897f6bd-e455-4369-98ee-63df62e83b78.vsidx
/Application/.vs/Application/FileContentIndex/37e7e098-5aeb-4e23-a0e3-f9c9ac56b720.vsidx
/Application/.vs/Application/FileContentIndex/6143bad7-9aeb-4574-823f-16f3ba559f75.vsidx
/Application/.vs/Application/FileContentIndex/67060a6b-ecd6-4d3d-98d1-e3ac8381c3c0.vsidx
/Application/.vs/Application/FileContentIndex/7a094bf3-b658-43ff-b064-681025558c03.vsidx
/Application/.vs/Application/FileContentIndex/f2dba274-3c6b-4746-9e58-ceea69fe3c17.vsidx
/Application/.vs/Application/FileContentIndex/4f07a3f3-8dda-4f6c-8620-b19aa4da0aaa.vsidx
/Application/.vs/Application/FileContentIndex/18608f50-5bab-4f16-a0c2-401c8491fc9f.vsidx
/Application/.vs/Application/FileContentIndex/4111872f-e0e8-4fac-a81f-63edd5f3e885.vsidx
/Application/.vs/Application/FileContentIndex/80c0e464-f62e-4384-9a84-faea8e5258fe.vsidx
/Application/.vs/Application/FileContentIndex/abc9dda3-e6f7-4ba9-9e30-27d75befd4fc.vsidx
/VisioConference.Test/obj/Debug/net6.0/VisioConference.Test.GeneratedMSBuildEditorConfig.editorconfig
/VisioConference.Test/obj/Debug/net6.0/VisioConference.Test.csproj.AssemblyReference.cache
/VisioConference.Test/obj/Debug/net6.0/VisioConference.Test.assets.cache
/VisioConference.Test/obj/Debug/net6.0/apphost.exe
