################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Application/.vs/Application/FileContentIndex/f4ab2dc1-3386-4ff6-9548-a5efae3d8725.vsidx
/Application/.vs/Application/FileContentIndex/20480882-9f05-403f-9408-dcb4f8779198.vsidx
