@model VisioConference.Models.Utilisateur

@{
	ViewData["Title"] = "Create Account";
}

<h1>Créer un compte</h1>


<div class="signinform">
	<div class="container">
		<div class="w3l-form-info">
			<div class="w3_info">
				<form asp-action="CreateAccount">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group">
						<label asp-for="Nom" class="control-label"></label>
						<input asp-for="Nom" class="form-control" />
						<span asp-validation-for="Nom" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Prenom" class="control-label"></label>
						<input asp-for="Prenom" class="form-control" />
						<span asp-validation-for="Prenom" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="MotDePasse" class="control-label"></label>
						<input asp-for="MotDePasse" class="form-control" />
						<span asp-validation-for="MotDePasse" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="DateDeNaissance" class="control-label"></label>
						<input asp-for="DateDeNaissance" class="form-control" />
						<span asp-validation-for="DateDeNaissance" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Email" class="control-label"></label>
						<input asp-for="Email" class="form-control" />
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
					<div class="form-group">
						<input type="submit" value="Créer" class="btn btn-primary" />
					</div>
					<div>
						<a asp-action="Index">Back to List</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>



@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}