@model VisioConference.Models.Salon

@{
    ViewData["Title"] = "CreerSalon";
}

<h1>Créer</h1>
<h4>Salon</h4>

<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="CreerSalon">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<input type="submit" value="Créer" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Retour</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}